/* --------------------------------------*/
/* --------------Page-header-------------*/
/* --------------------------------------*/

.page-header {
    background-color: black;
    min-width: 10em;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    // margin-top: 4em;
    // margin-bottom: 8em;
    margin: 4em auto 8em auto;

    header {
        margin: 0 auto;
        
        .header-title {
        margin: 0 auto;
        width: 100%;
        }
    }
}


//   /* HOME VIEW */
//   header {
// 	margin: 0 auto; }
// 	header .header-img {
// 	  margin: 0 auto;
// 	  width: 100%; }
  
//   .start:active, .next:active, .search:active, .finish:active, .restart:active {
// 	transform: translateY(4px); }
  
//   .illustration {
// 	width: 100%; }
  
//   .placeholder {
// 	width: 95%;
// 	height: 450px;
// 	margin: 0 auto;
// 	background: #888; }
  