/* QUESTION VIEW */
.question-display {
	padding: 10px;
	margin: 21px auto;
	background: #1C2833;
	font-size: .7em;
    color: white; 
}
.question-display h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: 2em; 
}
  
.question-progress {
	width: 100%;
    margin: 10px auto -10px auto; 
}

.question-progress img {
    margin-bottom: -15px; 
}
  
ul {
	list-style: none;
	padding: 0;
    margin: 20px; 
}
  
li {
	padding: 10px;
	margin: 20px 0;
	font-size: 1.4em;
	font-family: "Open Sans", sans-serif;
	background: white;
	color: #1C2833;
    cursor: pointer; 
}
  
.chosen {
	color: white;
    background-color: rgb(79, 196, 12); 
}
  
.next {
    box-shadow: 5px 5px 0px white; 
}
  
.finish {
	color: #1C2833;
	background: white;
    box-shadow: 5px 5px 0px rgb(79, 196, 12); 
}
  
